docs/wsdl_sap.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__BAPI_PATIENT_SEARCH">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__BAPI_PATIENT_SEARCH_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWS_BAPI_PATIENT_SEARCH">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>005056AE4B301EEDB3F8B08528AA3542</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__BAPI_PATIENT_SEARCH">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char60">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char70">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="70" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char80">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="80" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="BAPI1084SRCH">
        <xsd:sequence>
          <xsd:element name="CLIENT" type="tns:clnt3" />
          <xsd:element name="PATIENTID" type="tns:char10" />
          <xsd:element name="CHKDIGITPAT" type="tns:char1" />
          <xsd:element name="EXT_PAT_ID" type="tns:char20" />
          <xsd:element name="INSTITUTION" type="tns:char4" />
          <xsd:element name="INST_STEXT" type="tns:char15" />
          <xsd:element name="CANCEL_IND" type="tns:char1" />
          <xsd:element name="LAST_NAME_PAT" type="tns:char30" />
          <xsd:element name="STD_LNAME_PAT" type="tns:char30" />
          <xsd:element name="FRST_NAME_PAT" type="tns:char30" />
          <xsd:element name="STD_FNAME_PAT" type="tns:char30" />
          <xsd:element name="PREFIX" type="tns:char15" />
          <xsd:element name="AFFIX" type="tns:char15" />
          <xsd:element name="TITLE" type="tns:char15" />
          <xsd:element name="PSEUDO" type="tns:char30" />
          <xsd:element name="FULL_NAME_PAT" type="tns:char30" />
          <xsd:element name="BIRTH_NAME" type="tns:char30" />
          <xsd:element name="STD_BNAME_PAT" type="tns:char30" />
          <xsd:element name="DOB" type="tns:date10" />
          <xsd:element name="SEX" type="tns:char1" />
          <xsd:element name="SEX_EXT" type="tns:char1" />
          <xsd:element name="SEX_STEXT" type="tns:char10" />
          <xsd:element name="SSN" type="tns:char20" />
          <xsd:element name="DOC_TYPE" type="tns:char2" />
          <xsd:element name="DOC_TYPE_TEXT" type="tns:char15" />
          <xsd:element name="DOC_NO" type="tns:char15" />
          <xsd:element name="NON_RESIDENT" type="tns:char1" />
          <xsd:element name="EXPIRED" type="tns:char1" />
          <xsd:element name="C_OF_DEATH" type="tns:char3" />
          <xsd:element name="C_OF_DEATHTXT" type="tns:char20" />
          <xsd:element name="QUICK_ADM" type="tns:char1" />
          <xsd:element name="EMERG_ADM" type="tns:char1" />
          <xsd:element name="COUNTRY" type="tns:char3" />
          <xsd:element name="COUNTRY_ISO" type="tns:char2" />
          <xsd:element name="COUNTRY_TEXT" type="tns:char15" />
          <xsd:element name="PCD" type="tns:char10" />
          <xsd:element name="CITY" type="tns:char40" />
          <xsd:element name="DISTRICT" type="tns:char40" />
          <xsd:element name="STR_NO" type="tns:char40" />
          <xsd:element name="PHONENO" type="tns:char30" />
          <xsd:element name="ADDRESS" type="tns:char50" />
          <xsd:element name="PAT_REF" type="tns:char10" />
          <xsd:element name="APPT_ID" type="tns:char10" />
          <xsd:element name="VIP" type="tns:char1" />
          <xsd:element name="INACTIVE" type="tns:char1" />
          <xsd:element name="TAXNUMBER" type="tns:char20" />
          <xsd:element name="STPCODE" type="tns:char16" />
          <xsd:element name="BIRTH_RANK" type="tns:numeric1" />
          <xsd:element name="LAST_NAME_PAT_LONG" type="tns:char70" />
          <xsd:element name="STD_LNAME_PAT_LONG" type="tns:char80" />
          <xsd:element name="FRST_NAME_PAT_LONG" type="tns:char70" />
          <xsd:element name="STD_FNAME_PAT_LONG" type="tns:char80" />
          <xsd:element name="HOUSE_NO" type="tns:char10" />
          <xsd:element name="STREET_LONG" type="tns:char60" />
          <xsd:element name="STD_STREET_LONG" type="tns:char60" />
          <xsd:element name="BIRTH_NAME_LONG" type="tns:char70" />
          <xsd:element name="STD_BNAME_PAT_LONG" type="tns:char80" />
          <xsd:element name="TITLE_ACA2" type="tns:char4" />
          <xsd:element name="TITLE_ACA2TXT" type="tns:char20" />
          <xsd:element name="C_O_NAME" type="tns:char40" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIRET2">
        <xsd:sequence>
          <xsd:element name="TYPE" type="tns:char1" />
          <xsd:element name="ID" type="tns:char20" />
          <xsd:element name="NUMBER" type="tns:numeric3" />
          <xsd:element name="MESSAGE" type="tns:char220" />
          <xsd:element name="LOG_NO" type="tns:char20" />
          <xsd:element name="LOG_MSG_NO" type="tns:numeric6" />
          <xsd:element name="MESSAGE_V1" type="tns:char50" />
          <xsd:element name="MESSAGE_V2" type="tns:char50" />
          <xsd:element name="MESSAGE_V3" type="tns:char50" />
          <xsd:element name="MESSAGE_V4" type="tns:char50" />
          <xsd:element name="PARAMETER" type="tns:char32" />
          <xsd:element name="ROW" type="xsd:int" />
          <xsd:element name="FIELD" type="tns:char30" />
          <xsd:element name="SYSTEM" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPI1084SRCH">
        <xsd:sequence>
          <xsd:element name="item" type="tns:BAPI1084SRCH" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPIRET2">
        <xsd:sequence>
          <xsd:element name="item" type="tns:BAPIRET2" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="BAPI_PATIENT_SEARCH">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FILTER_BIRTH_NAME" type="tns:char30" minOccurs="0" />
            <xsd:element name="FILTER_BIRTH_NAME_LONG" type="tns:char70" minOccurs="0" />
            <xsd:element name="FILTER_BIRTH_RANK" type="tns:numeric1" minOccurs="0" />
            <xsd:element name="FILTER_DOB_FROM" type="tns:date10" minOccurs="0" />
            <xsd:element name="FILTER_DOB_TO" type="tns:date10" minOccurs="0" />
            <xsd:element name="FILTER_DOC_NO" type="tns:char15" minOccurs="0" />
            <xsd:element name="FILTER_EXT_PAT_ID" type="tns:char20" minOccurs="0" />
            <xsd:element name="FILTER_FRST_NAME_PAT" type="tns:char30" minOccurs="0" />
            <xsd:element name="FILTER_FRST_NAME_PAT_LONG" type="tns:char70" minOccurs="0" />
            <xsd:element name="FILTER_LAST_NAME_PAT" type="tns:char30" minOccurs="0" />
            <xsd:element name="FILTER_LAST_NAME_PAT_LONG" type="tns:char70" minOccurs="0" />
            <xsd:element name="FILTER_PATCASEID" type="tns:char10" minOccurs="0" />
            <xsd:element name="FILTER_PATIENTID" type="tns:char10" minOccurs="0" />
            <xsd:element name="FILTER_SEX_EXT" type="tns:char1" minOccurs="0" />
            <xsd:element name="FILTER_SSN" type="tns:char20" minOccurs="0" />
            <xsd:element name="FILTER_STPCODE" type="tns:char16" minOccurs="0" />
            <xsd:element name="FILTER_TAXNUMBER" type="tns:char20" minOccurs="0" />
            <xsd:element name="INSTITUTION" type="tns:char4" />
            <xsd:element name="MAXCNT" type="xsd:int" minOccurs="0" />
            <xsd:element name="PATIENTS" type="tns:TABLE_OF_BAPI1084SRCH" />
            <xsd:element name="RETURN" type="tns:TABLE_OF_BAPIRET2" minOccurs="0" />
            <xsd:element name="SEARCH_PHONETIC" type="tns:char1" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BAPI_PATIENT_SEARCHResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PATIENTS" type="tns:TABLE_OF_BAPI1084SRCH" />
            <xsd:element name="RETURN" type="tns:TABLE_OF_BAPIRET2" minOccurs="0" />
            <xsd:element name="WORST_RETURNED_MSGTY" type="tns:char1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BAPI_PATIENT_SEARCH">
    <wsdl:part name="parameters" element="tns:BAPI_PATIENT_SEARCH" />
  </wsdl:message>
  <wsdl:message name="BAPI_PATIENT_SEARCHResponse">
    <wsdl:part name="parameter" element="tns:BAPI_PATIENT_SEARCHResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_BAPI_PATIENT_SEARCH">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWS_BAPI_PATIENT_SEARCH" />
    </wsp:Policy>
    <wsdl:operation name="BAPI_PATIENT_SEARCH">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__BAPI_PATIENT_SEARCH" />
      </wsp:Policy>
      <wsdl:input message="tns:BAPI_PATIENT_SEARCH" />
      <wsdl:output message="tns:BAPI_PATIENT_SEARCHResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BAPI_PATIENT_SEARCH" type="tns:ZWS_BAPI_PATIENT_SEARCH">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__BAPI_PATIENT_SEARCH" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="BAPI_PATIENT_SEARCH">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_BAPI_PATIENT_SEARCH:BAPI_PATIENT_SEARCHRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAPI_PATIENT_SEARCH_soap12" type="tns:ZWS_BAPI_PATIENT_SEARCH">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__BAPI_PATIENT_SEARCH_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="BAPI_PATIENT_SEARCH">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_BAPI_PATIENT_SEARCH:BAPI_PATIENT_SEARCHRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BAPI_PATIENT_SEARCH">
    <wsdl:port name="BAPI_PATIENT_SEARCH" binding="tns:BAPI_PATIENT_SEARCH">
      <soap:address location="" />
    </wsdl:port>
    <wsdl:port name="BAPI_PATIENT_SEARCH_soap12" binding="tns:BAPI_PATIENT_SEARCH_soap12">
      <wsoap12:address location="" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
